<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>
<body>
<div class="browsegrid">
    <img title="Made with https://logomakr.com" src="static/logo.png" alt="logo" height="100 width="500"/>
    <div  class="topnav" id="browsenav">
      <a href ="/">Home</a>
      <a href ="/browse">Browse Books</a>
      <a href ="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/login" style="float: right;">Logout</a>
    </div>


    <div  class="searchbox" >
        <div class="inner">
        <form action="" method="post">
             <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" placeholder="Search" name="search" id="search" value="{{ request.form.search }}">
        </form>
        </div>
    </div>
    <br>
    <div class="sort"   id="sortselect">


    </div>

    <div    class="table"   id="booktable">
        <table id = "booklist" >
            <tr>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(1)')">Title</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(2)')">Author</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(3)')">Category</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(4)')">Publish Year</th>
                <th>ISBN</th>
                <th>Score</th>

            </tr>

            {%for a in range(0, maxid)%}
            <tr class="item">
                <td>{{name[a]}}</td>
                <td>{{writer[a]}}</td>
                <td>{{category[a]}}</td>
                <td>{{year[a]}} </td>
                <td>{{isbn[a]}}</td>
                <td>{{score[a]}}</td>

            </tr>
            {% endfor %}

        </table>
        {% if maxid < 1 %}
                <a href="/browse">No match found, sell all the books.</a>
        {% endif %}
    </div>
</div>
</body>
</html>