<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <img src="static/logo.png" alt="logo" height="100 width="500" />
    <div  class="topnav" id="navbar">
      <a href ="/">Home</a>
      <a href ="/browse">Browse Books</a>
      <a href ="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/login" style="float: right;">Logout</a>
    </div>

    <div class="books" id ="book">

          <div class ="book" id="book1">

            <div class="cover" id="cov1">
                <img src="{{booklink1}}" alt="cover" />
            </div>

            <div class="bookinfo" id="bookinf1">
                <p align="center">{{name[0]}}</p>
                <p  align="left"> {{writer[0]}}</p>
            </div>

          </div>

           <div class ="book" id="book2">

             <div class="cover" id="cov2">

                <img src="{{booklink2}}" alt="cover" />
            </div>

            <div class="bookinfo" id="bookinf2">
                <p align="center">{{name[1]}}</p>
                <p  align="left"> {{writer[1]}}</p>
            </div>


          </div>

          <div class ="book" id="book3">
             <div class="cover" id="cov3">

                <img src="{{booklink3}}" alt="cover" />
            </div>

            <div class="bookinfo" id="bookinf3">
                <p align="center">{{name[2]}}</p>
                <p align="left"> {{writer[2]}}</p>
            </div>

          </div>

    </div>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
