<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Internet Book </h1>
    <div  class="topnav" id="navbar">
      <a href ="/">Home</a>
      <a href ="/browse">Browse Books</a>
      <a href ="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/login" style="float: right;">Logout</a>
    </div>
    <a href = "/count"> Go to counter page</a>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
