<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body style="background-color:#F5F5F5;">>
    <div class ="loginbox">
        <form action="" method="post">
            <h1>Username</h1>
            <input type="text"  name="username" maxlength="10" value="{{ request.form.username }}">
            <h1>Password</h1>
            <input type="text"  name="password" maxlength="10" value="{{ request.form.password }}">
            <br>
            <input class="button" type="submit" value="Login" name="login">
            <br>
            <p>Looking to
            <a href="signup">create an account ?</a> </p>
        </form>
        {% if error %}
        <p class="error">Error: {{error}}</p>
        {% endif %}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
</body>
</html>