<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
    <div  class="topnav" id="navbar">
      <a href ="/">Home</a>
      <a href ="/browse">Browse Books</a>
      <a href ="/profile">Profile</a>
      <a href="/login">Login</a>
      <a href="/login" style="float: right;">Logout</a>
    </div>




    <div    class="table"   id="booktable">
        <table id = "booklist" >
            <tr>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(1)')">Title</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(2)')">Author</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(3)')">Category</th>
                <th onclick="w3.sortHTML('#booktable', '.item', 'td:nth-child(4)')">Publish Year</th>
                <th>ISBN</th>
                <th>Score</th>

            </tr>

            {%for i in range(0, counter)%}
            <tr class="item">
                <td>{{name[i]}}</td>

            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>