<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <div class ="container">
        <h1>Enter your information</h1>
        <br>
        <form action="/signup" method="post">
            <input type="text" placeholder="username" name="username" maxlength="10" value="{{ request.form.username }}">
            <input type="password" placeholder="password" name="password" value="{{ request.form.password }}">
            <input class="btn btn-default" type="submit" value="sign up">
        </form>
        {% if error %}
        <p class="error">Error: {{error}}</p>
        {% endif %}
    </div>

</body>
</html>